*{
  margin: 0;
  padding:0;
}

h1{
  text-align: center;
  padding: 1rem;
  background-color: green;
  color: white ;
}

.card {
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  margin: auto;
}


.card:hover {
  background-color: gainsboro;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: 10%;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: green;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

.card button:hover {
  opacity: 0.7;
}

.cancel{
  background-color: red;
  
}



